@using System.Web.Optimization
@model Handcraft.Models.ViewModels.ArticleBlockViewModel
@*@model Handcraft.Models.Blocks.ArticleBlock*@

    
<div class="article-container">
            <div class="article-title">
                <h2>@Model.Title</h2>
                <div class="article-image">
                    <img src="@Url.ContentUrl(Model.Image)" />
                    <span class="article-description">@Model.Description</span>
                </div>
            </div>
</div>
   
